<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">Notifications <span class="badge" id="notifications-badge"></span></a>
			</li>
		</ul>
	</div>
</aside>