<footer>
    <div class="container" style="font-family: 'Lato', sans-serif; color:black;">
        <div class="row">
            Made with love by Gaurav and Chinmay &copy; <%= new Date().getFullYear() %>
        </div>
    </div>
</footer>
</div>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="font-family: 'Lato', sans-serif;">Reply</h5>
				<button type="button" class="mtr-btn close" style="font-family: 'Lato', sans-serif; background-color: white; color: #000; border-radius: 14px;" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" >&times;</span>
				</button>
			</div>

			<div class="modal-body" style="font-family: 'Lato', sans-serif; background-color: white; color: #000;">
				<form onsubmit="return doPostReplyStudent(this);">
					<input type="hidden" name="postId">
					<input type="hidden" name="commentId">
					<textarea name="reply" placeholder="Post your reply"></textarea>
					<button class="mtr-btn" style="font-family: 'Lato', sans-serif; background-color: white; color: #000; border-radius: 14px;" type="submit">Post</button>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/script.js"></script>
<script src="/public/js/main.min.js"></script>
<script src="/public/js/socket.io.js"></script>

<script>
    window.user = null;
    var socketIO = io("http://localhost:3000");

    function getUserStudent(){
        if (localStorage.getItem("accessToken")) {

            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getUserStudent", true);
            ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                
                if (response.status == "success") {
                    window.user = response.data;
                    if (typeof isUpdateProfile !== "undefined" && isUpdateProfile) {
                        showProfileData();
                    }

                    if (typeof isAllProjectsStudentPage !== "undefined" && isAllProjectsStudentPage) {
                        // showAddproject();
                        showprojectsfeedstudent();
                    }

                    if (typeof isMyProposalsPage !== "undefined" && isMyProposalsPage) {
                        // showAddproject();
                        showmyproposalsfeed();
                    }

                    if (typeof isAddProjectPageStudent !== "undefined" && isAddProjectPageStudent) {
                        showAddprojectStudent();
                        // showprojectsfeed();
                    }

                    if (typeof isAllottedProjectsPage !== "undefined" && isAllottedProjectsPage) {
                        showallottedprojectsfeed();
                    }
                    
                } else {
                    localStorage.removeItem("accessToken");
                }
                showMainMenu();
            }
        };

        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("accessToken"));
        ajax.send(formData);
    } else {
        showMainMenu();
    }
}

function showMainMenu() {
    var html = "";

    if (localStorage.getItem("accessToken")) {
        html += '<li>';
            html += '<a href="/allProjectsStudent" style="font-family: "Lato", sans-serif;">All projects</a> ';
        html += '</li>';

        html += '<li>';
            html += '<a href="/allottedProjects" style="font-family: "Lato", sans-serif;">Allotted projects</a> ';
        html += '</li>';

        html += '<li>';
            html += '<a href="/myProposals" style="font-family: "Lato", sans-serif;">My proposals</a> ';
        html += '</li>';

        html += '<li>';
            html += '<a href="/studentUpdateProfile" style="font-family: "Lato", sans-serif;">Profile</a>';
        html += '</li>';

        html += '<li>';
            html += '<a href="/studentLogout" onclick="return doStudentLogout();" style="font-family: "Lato", sans-serif;">Logout</a>';
        html += '</li>';
    } else {
        html += '<li>';
            html += '<a href="/stundentLogin" style="font-family: "Lato", sans-serif;">Login</a>';
        html += '</li>';

        html += '<li>';
            html += '<a href="/studentSignup" style="font-family: "Lato", sans-serif;">Signup</a>';
        html += '</li>';
    }

    document.getElementById("main-menu").innerHTML = html;
}

function doStudentLogout() {
    localStorage.removeItem("accessToken");
    return true;
}

window.onload = function () {
    getUserStudent();
};

window.onerror = function (file, line, error) {
    alert(file + " " + line + " " + error);
};

</script>
</body>
</html>