<html>

<head>
	<title>Design credit management portal</title>
	<link rel="stylesheet" href="/public/css/main.min.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/color.css">
	<link rel="stylesheet" href="/public/css/responsive.css">
</head>

<body>
    <div class="theme-layout">

		<div class="topbar stick">
			<div class="logo">
				<h4>Student</h4>
			</div>

			<div class="top-area">
				<ul class="main-menu" id="main-menu">

				</ul>

                <ul class="setting-area"></ul>
            </div>
		</div>

        <script>
			var mainURL = "http://localhost:3000";
        </script>

<style>
    #post-img-preview,
    #post-video-preview {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
</style>
</body>