<footer>
    <div class="container">
        <div class="row">
            Made with love by Gaurav and Chinmay &copy; <%= new Date().getFullYear() %>
        </div>
    </div>
</footer>
</div>

<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/script.js"></script>
<script src="/public/js/main.min.js"></script>
<script src="/public/js/socket.io.js"></script>

<script>
    window.user = null;
    var socketIO = io("http://localhost:3000");

    function getUserStudent(){
        if (localStorage.getItem("accessToken")) {

            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/getUserStudent", true);
            ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                
                if (response.status == "success") {
                    window.user = response.data;
                    if (typeof isUpdateProfile !== "undefined" && isUpdateProfile) {
                        showProfileData();
                    }
                } else {
                    localStorage.removeItem("accessToken");
                }
                showMainMenu();
            }
        };

        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("accessToken"));
        ajax.send(formData);
    } else {
        showMainMenu();
    }
}

function showMainMenu() {
    var html = "";

    if (localStorage.getItem("accessToken")) {
        html += '<li>';
            html += '<a href="/studentAllProjects">All projects</a> ';
        html += '</li>';

        html += '<li>';
            html += '<a href="/allotedProjects">Alloted projects</a> ';
        html += '</li>';

        html += '<li>';
            html += '<a href="/myProposals">My proposals</a> ';
        html += '</li>';

        html += '<li>';
            html += '<a href="/studentUpdateProfile">Profile</a>';
        html += '</li>';

        html += '<li>';
            html += '<a href="/studentLogout" onclick="return doStudentLogout();">Logout</a>';
        html += '</li>';
    } else {
        html += '<li>';
            html += '<a href="/stundentLogin">Login</a>';
        html += '</li>';

        html += '<li>';
            html += '<a href="/studentSignup">Signup</a>';
        html += '</li>';
    }

    document.getElementById("main-menu").innerHTML = html;
}

function doStudentLogout() {
    localStorage.removeItem("accessToken");
    return true;
}

window.onload = function () {
    getUserStudent();
};

window.onerror = function (file, line, error) {
    alert(file + " " + line + " " + error);
};

</script>
</body>
</html>