<%- include ("includes/studentHeader") %>

<section>
	<div class="gap green-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">

						</div>

						<div class="col-md-6">

							<div class="loadMore" id="allottedprojectsFeed">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	var isAllottedProjectsPage = true;

	function showallottedprojectsfeed(){
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/getallottedprojectsfeed", true);

		ajax.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200){
				var response = JSON.parse(this.responseText);

				var html = "";
				html+= '<h2 class="" style="color: white; font-weight: bold;">';
				html += "Allotted projects";
				html+= "</h2>";
				html += '<hr>';
				html += '<div class="central-meta item">';
					for (var a = 0; a < response.data.length; a++){
						var data = response.data[a];
						if(data.status=="accepted" || (data.proposed_by._id==window.user._id && data.proposed_by._id!=data.user._id)){
							for(var b=0;b<data.mentees.length;b++){
								if(data.mentees[b]._id==window.user._id){
									html += '<div class="central-meta item">';
										html += '<div class="user-project">';
											html += '<div class="project-info">';

												html += '<div class="title colortxtblack">';
														html += '<h2>';
															html += data.title;
														html += '</h2>';
												html += '</div>';
												html+='<hr>';

												html += '<div class="user-name colortxtblack">';
													html += '<span>Added by: ';
																html += data.user.name;
													html+= '</span>';
												html += '</div>';

												if(data.user._id!=data.proposed_by._id){
													html += '<div class="user-name colortxtblack">';
														html += '<span>Proposed by: ';
															html += data.proposed_by.name;
														html+= '</span>';
													html += '</div>';
												}

												html += '<div class="project-date colortxtblack">';
													var createdAt = new Date(data.createdAt);
													var date = createdAt.getDate() + "";
													date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();

													html += '<span>Floated on: ' + date + '</span>';
												html += '</div>';
												html+='<br>';

												html += '<div class="project-meta colortxtblack">';
													
													html += '<div>';
														html+= 'Description';
													
													
														html += '<div class="description">';
															html += '<p>';
																html += data.description;
															html += '</p>';
														html += '</div>';

													html += '</div>';

													html += '<div>';
														html+= 'Skills required';
													
														html += '<div class="skills">';
															html += '<p>';
																html += data.skills;
															html += '</p>';
														html += '</div>';
													html += '</div>';
													html+='<hr>';
													html+=createCommentsSectionStudent(data);
												html += '</div>';
											html += '</div>';
										html += '</div>';
									html += '</div>';
								}
							}
						}
					}
				html += '</div>';
				document.getElementById("allottedprojectsFeed").innerHTML = html;
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);
	}
</script>

<%- include ("includes/studentFooter") %>