<%- include ("includes/header") %>

<section>
	<div class="gap blue-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">
						</div>

						<div class="col-md-6">
							<div class="central-meta">
								<div class="editing-info">

									<h5 class="f-title">
										<i class="ti-info-alt"></i>
										Grading
									</h5>

									
                                    <div class="loadMore" id="grading" style="color:black;"></div>
                                        

                                    <br>
								</div>
							</div>
						</div>

						<div class="col-md-3">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
    var isGrading = true;
    function showGradingfeed(){
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/getGrades", true);

        ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
				var html = "";

                html+="<table>";

                html+="<tr>";
                html+="<th >Project Title</th>";
                html+="<th>Name of students</th>";
                html+="<th>Grade</th>";
                html+="</tr>";

                for (var a = 0; a < response.data.length; a++) {
                    var data = response.data[a];

                    if (data.status == "accepted"){

                        html+="<tr>";  
                             
                        html+= "<td>";
                        html += data.title;
                        html+= "</td>";

                        html+= "<td>"; 
                        for(var i=0; i<data.mentees.length; i++){
                            if(data.mentees[i].status=="accepted"){
                                html += data.mentees[i].name;
                                if(i != data.mentees.length-1){
                                    html += "<br>";
                                }
                            }
                            
                        }
                        html+= "</td>";

                        html+= "<td>";
                        
                        if(data.grade=="Z"){
							html += "Grade not allotted";
                            html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-S-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToS(this);" class="btn update grade S">Update to S</button>'
                            html +='</form>'
                            html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-U-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToU(this);" class="btn update grade U">Update to U</button>'
                            html +='</form>'
							html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-X-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToX(this);" class="btn update grade X">Update to X</button>'
                            html +='</form>'
                        }else if(data.grade=="S"){
							html += data.grade;
                            html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-U-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToU(this);" class="btn update grade U">Update to U</button>'
                            html +='</form>'
							html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-X-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToX(this);" class="btn update grade X">Update to X</button>'
                            html +='</form>'
						}else if(data.grade=="X"){
							html += data.grade;
							html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-S-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToS(this);" class="btn update grade S">Update to S</button>'
                            html +='</form>'
                            html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-U-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToU(this);" class="btn update grade U">Update to U</button>'
                            html +='</form>'
						}else if(data.grade=="U"){
							html += data.grade;
							html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-S-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToS(this);" class="btn update grade S">Update to S</button>'
                            html +='</form>'
							html +='<form>'
                                html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn update-grade-X-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="updateGradeToX(this);" class="btn update grade X">Update to X</button>'
                            html +='</form>'
						}
                        html+= "</td>";

                        html+= "</tr>";
                    }
                }
                html+="</table>";
                document.getElementById("grading").innerHTML = html;
            }
            
        };
        var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		ajax.send(formData);
    }

    function updateGradeToS(self){
		var project_id = self.getAttribute("project-id");
		var mentor_id = self.getAttribute("mentor-id");
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/updateGradeToS", true);

		ajax.onreadystatechange = function() {
			if (this.readyState ==4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("project_id", project_id);
		formData.append("mentor_id", mentor_id);
		ajax.send(formData);
	}

    function updateGradeToU(self){
		var project_id = self.getAttribute("project-id");
		var mentor_id = self.getAttribute("mentor-id");
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/updateGradeToU", true);

		ajax.onreadystatechange = function() {
			if (this.readyState ==4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("project_id", project_id);
		formData.append("mentor_id", mentor_id);
		ajax.send(formData);
	}

	function updateGradeToX(self){
		var project_id = self.getAttribute("project-id");
		var mentor_id = self.getAttribute("mentor-id");
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/updateGradeToX", true);

		ajax.onreadystatechange = function() {
			if (this.readyState ==4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("project_id", project_id);
		formData.append("mentor_id", mentor_id);
		ajax.send(formData);
	}
</script>

<%- include ("includes/footer") %>