<%- include ("includes/header") %>

<section>
	<div class="gap blue-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">

						</div>

						<div class="col-md-6">

							<div id="show-complete-applications">
                            </div>

							<div class="loadMore" id="show-pending-applications">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
    var isMyProjects = true;
    function showCompletedApplicationsfeed() {
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/getCompletedApplicationsfeed", true);

        ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

                var response = JSON.parse(this.responseText);

                var html = "";
                html+= '<h2 class="" style="color: white; font-weight: bold;">';
                html += "Running projects";
                html+= "</h2>";
                html += '<hr>';
                html += '<div class="central-meta item">';
                for (var a = 0; a < response.data.length; a++) {
                    var data = response.data[a];

                    if (data.status == "accepted") {
                        html += '<div class="central-meta item">';
                            html += '<div class="user-project">';
                                html += '<div class="project-info">';

                                    html += '<div class="title colortxtblack">';
                                            html += '<h2>';
                                                html += data.title;
                                            html += '</h2>';
                                    html += '</div>';
                                    html+='<hr>';

                                    html += '<div class="user-name colortxtblack">';
									html += '<span>Added by: ';
												html += data.user.name;
									html+= '</span>';
								    html += '</div>';

                                    if(data.user._id!=data.proposed_by._id){
										html += '<div class="user-name colortxtblack">';
											html += '<span>Proposed by: ';
												html += data.proposed_by.name;
											html+= '</span>';
										html += '</div>';
									}

                                    html += '<div class="project-date colortxtblack">';
                                        var createdAt = new Date(data.createdAt);
                                        var date = createdAt.getDate() + "";
                                        date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();

                                        html += '<span>Floated on: ' + date + '</span>';
                                    html += '</div>';
                                    html+='<br>';
                                    html += '<div class="project-meta colortxtblack">';
                                        
                                        html += '<div>';
                                            html+= 'Description';
                                        
                                        
                                            html += '<div>';
                                                html += '<p>';
                                                    html += data.description;
                                                html += '</p>';
                                            html += '</div>';

                                        html += '</div>';

                                        html += '<div>';
                                            html+= 'Skills required';
                                        
                                            html += '<div class="skills">';
                                                html += '<p>';
                                                    html += data.skills;
                                                html += '</p>';
                                            html += '</div>';
                                        html += '</div>';

                                        html += '<div>';
                                            html+= 'Mentees';

                                            html += '<div class="selected-mentees">';
                                                for (var b = 0; b < data.mentees.length; b++){
                                                    var mentee = data.mentees[b];
                                                    if(mentee.status=="accepted"){
                                                        html += '<div class="remove-mentee">';
                                                            html += mentee.name;
                                                            if(mentee._id!=data.proposed_by._id){
                                                                html +='<form style="display: inline-block; float: right;">'
                                                                    html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="remove-mentee-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" mentee-id="' + mentee._id + '" onclick="removeMentee(this);">Remove</button>'
                                                                html +='</form>'
                                                            }
                                                            
                                                        html += '</div>';
                                                        html+='<br>';
                                                        // html += '<div>';
                                                        //     html += '<p>';
                                                        //     html += mentee.name;
                                                        //     html += '</p>';
                                                        // html += '</div>';
                                                    }
                                                }
                                                
                                            html += '</div>';
                                            html += '</div>';
                                        html += '</div>';
                                        html+='<hr>';
                                        html+='<div>';
                                            html+='<form>'
												html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn open-to-all" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="opentoall(this);">Make open to all</button>'
											html+='</form>'
                                        html+='</div>'
                                        html+=createCommentsSection(data);

                                    html += '</div>';
                                html += '</div>';
                            html += '</div>';
                        html += '</div>';
                    }
                }
                html += '</div>';
                document.getElementById("show-complete-applications").innerHTML = html;
            }
        };



        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("accessToken"));
        ajax.send(formData);
    }

    function showPendingApplicationsfeed() {
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/getPendingApplicationsfeed", true);

        ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

                var response = JSON.parse(this.responseText);

                var html = "";
                html+= '<h2 class="" style="color: white; font-weight: bold;">';
                html += "Pending projects";
                html+= "</h2>";
                html += '<hr>';
                html += '<div class="central-meta item">';
                for (var a = 0; a < response.data.length; a++) {
                    var data = response.data[a];

                    if (data.status == "pending") {
                        html += '<div class="central-meta item">';
                            html += '<div class="user-project">';
                                html += '<div class="project-info">';
                                    html += '<div class="title colortxtblack">';
                                            html += '<h2>';
                                                html += data.title;
                                            html += '</h2>';
                                    html += '</div>';
                                    html+='<hr>';

                                    html += '<div class="user-name colortxtblack">';
                                        html += '<span>Added by: ';
                                                    html += data.user.name;
                                        html+= '</span>';
								    html += '</div>';

                                    if(data.user._id!=data.proposed_by._id){
										html += '<div class="user-name colortxtblack">';
											html += '<span>Proposed by: ';
												html += data.proposed_by.name;
											html+= '</span>';
										html += '</div>';
									}

                                    html += '<div class="project-date colortxtblack">';
                                        var createdAt = new Date(data.createdAt);
                                        var date = createdAt.getDate() + "";
                                        date = date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear();

                                        html += '<span>Floated on: ' + date + '</span>';
                                    html += '</div>';
                                    html+='<br>';

                                    html += '<div class="project-meta colortxtblack">';
                                        
                                        html += '<div>';
                                            html+= 'Description';
                                        
                                        
                                            html += '<div>';
                                                html += '<p>';
                                                    html += data.description;
                                                html += '</p>';
                                            html += '</div>';

                                        html += '</div>';

                                        html += '<div>';
                                            html+= 'Skills required';
                                        
                                            html += '<div class="skills">';
                                                html += '<p>';
                                                    html += data.skills;
                                                html += '</p>';
                                            html += '</div>';
                                        html += '</div>';
                                        html+='<hr>';

                                        html += '<div>';
                                            html+= 'Selected applicants';

                                            html += '<div class="selected-applicants">';
                                                for (var b = 0; b < data.mentees.length; b++){
                                                    var mentee = data.mentees[b];
                                                    if(mentee.status=="accepted"){
                                                        html += '<p>';
                                                            html += mentee.name;
                                                        html += '</p>';
                                                    }
                                                }
                                                
                                            html += '</div>';
                                        html += '</div>';
                                        html+='<hr>';

                                        html += '<div>';
                                            html+= 'Pending applicants';
                                        
                                            html += '<div class="pending-applicants">';
                                                for (var b = 0; b < data.mentees.length; b++){
                                                    var mentee = data.mentees[b];
                                                    if(mentee.status=="pending"){
                                                        var flag=true;
                                                        for(var c = 0; c < response.data.length; c++){
                                                            var temp = response.data[c];
                                                            for(var b1 = 0; b1 < temp.mentees.length; b1++){
                                                                if(temp.mentees[b1]._id==mentee._id && temp.mentees[b1].status=="accepted"){
                                                                    flag=false;
                                                                    break;
                                                                }
                                                            }
                                                            if(flag==false){
                                                                break;
                                                            }
                                                        }
                                                        if(flag){
                                                            html += '<div class="accept-mentee">';
                                                                html += mentee.name;
                                                                html +='<form style="display: inline-block; float: right;">'
                                                                    html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="accept-mentee-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" mentee-id="' + mentee._id + '" onclick="acceptMentee(this);">Accept</button>'
                                                                html +='</form>'
                                                            html += '</div>';
                                                            html+="<br>";
                                                        }
                                                    }
                                                }
                                            html += '</div>';
                                        html += '</div>';
                                        html+='<hr>';
                                        html+='<form>'
											html+='<button type="submit" style="background-color: white; color: #000; border-radius: 14px;" class="mtr-btn mark-complete-btn" mentor-id="'+ window.user._id +'" project-id="' + data._id + '" onclick="markAsComplete(this);" class="btn mark complete">Mark as complete</button>'
										html+='</form>'

                                    html += '</div>';
                                html += '</div>';
                            html += '</div>';
                        html += '</div>';
                    }
                }
                html += '</div>';
                document.getElementById("show-pending-applications").innerHTML = html;
            }
        };



        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("accessToken"));
        ajax.send(formData);
    }

    function acceptMentee(self){
		var project_id = self.getAttribute("project-id");
		var mentor_id = self.getAttribute("mentor-id");
        var mentee_id = self.getAttribute("mentee-id");
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/acceptMentee", true);

		ajax.onreadystatechange = function() {
			if (this.readyState ==4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("project_id", project_id);
		formData.append("mentor_id", mentor_id);
        formData.append("mentee_id", mentee_id);
		ajax.send(formData);
	}

    function removeMentee(self){
		var project_id = self.getAttribute("project-id");
		var mentor_id = self.getAttribute("mentor-id");
        var mentee_id = self.getAttribute("mentee-id");
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/removeMentee", true);

		ajax.onreadystatechange = function() {
			if (this.readyState ==4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("project_id", project_id);
		formData.append("mentor_id", mentor_id);
        formData.append("mentee_id", mentee_id);
		ajax.send(formData);
	}

    function markAsComplete(self){
		var project_id = self.getAttribute("project-id");
		var mentor_id = self.getAttribute("mentor-id");
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/markAsComplete", true);

		ajax.onreadystatechange = function() {
			if (this.readyState ==4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("project_id", project_id);
		formData.append("mentor_id", mentor_id);
		ajax.send(formData);
	}

    function opentoall(self){
		var project_id = self.getAttribute("project-id");
		var mentor_id = self.getAttribute("mentor-id");
		var ajax = new XMLHttpRequest();
		ajax.open("POST", "/opentoall", true);

		ajax.onreadystatechange = function() {
			if (this.readyState ==4 && this.status == 200){
				var response = JSON.parse(this.responseText);
				alert(response.message);
				self.remove();
			}
		};

		var formData = new FormData();
		formData.append("accessToken", localStorage.getItem("accessToken"));
		formData.append("project_id", project_id);
		formData.append("mentor_id", mentor_id);
		ajax.send(formData);
	}



    
</script>
<%- include ("includes/footer") %>